<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="icon" href="/favicon/favicon.ico" type="icon" />
  <link href="https://cdn.jsdelivr.net" rel="stylesheet" integrity="sha384-0RonC0dLRk3PzO8BwufXG1yYdWAw3Z5UUZrz/fQ4bVP5b+3aV5d+/bXyQ+J5y+s" crossorigin="anonymous">
  <title> {{ .Title }} </title> 
</head>
