<!-- Open Graph -->
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />

<!-- Open Graph Image Logic -->
{{- $ogImage := "" -}}
{{- if .Params.images -}}
  {{- $ogImage = index .Params.images 0 -}}
{{- else if .Site.Params.images -}}
  {{- $ogImage = index .Site.Params.images 0 -}}
{{- end -}}

{{- if $ogImage -}}
  <meta property="og:image" content="{{ $ogImage | absURL }}" />
{{- end -}}
