/* =========
   Components
   ========= */

/* navigation */ 
.site-header {
  max-width: var(--measure);
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--bg-header);
}

.navigation-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.navigation-bar a {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.4rem;
  padding-left: 0rem;
  color: var(--muted);
}
#theme-toggle {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin-left: auto;
  color: inherit;
}


/* home */ 
.home-description {
  text-align: justify;
  text-justify: inter-word;
  hyphen: auto;
  text-wrap: pretty;
}
.home-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 1.25rem 1rem 0;
  float: left;
  shape-outside: circle(50%);
}



.home-posts h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-posts a {
  color: var(--muted);
  margin: 0rem;
  text-decoration: underline; 
  text-decoration-style: dashed;
}

.home-posts a:hover {
  text-decoration: none;
}

.home-posts p {
  margin-left: 1.5rem;
}

.home-posts h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.home-posts time {
  margin-top: 0rem;
  font-style: italic;
  color: #44444E;
}

/* footer */ 
footer {
  max-width: var(--measure);
  margin: auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-footer);
  border-top: 1px solid black;
}

footer p {
  font-size: 1rem;
  margin: 0rem;
  line-height: 1rem;
}

footer a {
  color: var(--muted)
}

/* Post-List Attributes  */
.post-list {
  list-style: none;
  padding-left: 0rem;
  margin-left: 0rem;
}

.post-list h3{
  font-size: 1.4rem;
  font-weight: 600;
}
.post-list a {
  color: var(--muted)
}

.post-list p {
  padding-left: 1rem;
}
.post-time {
  color: #44444E;
  font-style: italic;
  margin: auto;
  text-align: left;
}

