/* =========
   Components
   ========= */

/* navigation */
.site-header {
  max-width: var(--measure);
  margin: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--bg-header);
}

.navigation-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.navigation-bar a {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.4rem;
  padding-left: 0rem;
  color: var(--muted);
}

#theme-toggle {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin-left: auto;
  color: inherit;
}


/* home */
.home-description {
  text-align: justify;
  text-justify: inter-word;
  text-wrap: pretty;
}

.home-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 1.25rem 1rem 0;
  float: left;
  shape-outside: circle(50%);
}


.home-posts h1 {
  color: var(--fg-muted);
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-posts a {
  color: var(--heading-color);
  margin: 0rem;
  text-decoration: none;
  text-decoration-style: none;
}

.home-posts a:hover {
  color: var(--link-font);
  text-decoration: underline;
}

.home-posts p {
  margin-left: 1rem;
}

.home-posts h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.home-posts time {
  margin-top: 0rem;
  font-style: italic;
  color: #44444E;
}

/* footer */
footer {
  max-width: var(--measure);
  margin: auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-footer);
  border-top: 1px solid black;
}

footer p {
  font-size: 1rem;
  margin: 0rem;
  line-height: 1rem;
}

footer a {
  color: var(--muted)
}

/* Post-List Attributes  */
.post-list {
  list-style: none;
  padding-left: 0rem;
  margin-left: 0rem;
}

.post-list h3 {
  color: var(--heading-color);
  font-size: 1.15rem;
  font-weight: 900;
  text-decoration: none;
}

.post-list a {
  color: var(--heading-color);
  text-decoration: none;
}

.post-list a:hover {
  color: var(--link-font);
  text-decoration: underline;
}

.post-list p {
  padding-left: 1rem;
}

.post-time {
  color: #44444E;
  font-style: italic;
  margin: auto;
  text-align: left;
}

/* table of contents */
.toc {
  background: var(--bg-muted);
  border: 1px solid var(--border);
  padding: 1rem 1rem;
  margin: 2rem 0;
  font-size: 1rem;
}

.toc summary {
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.toc nav#TableOfContents ul {
  padding-left: 2rem;
  margin: 0.0rem 0 0;
}

.toc a {
  color: var(--muted);
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}
