{{ define "main" }}
<section class="home-description">
  <figure class="home-figure">
    <img class="home-image" src="/picture/self.jpeg">
  </figure>
  <p>
    This site is a quite place containing writings from an insignificant someone who tries to
    put his thoughts into writing. My area of interest are mostly Science and
    Philosophy, but sometime i put my attention to Computer Technology (Linux,
    R/Python, and other Open Source Tech) as well as Art Consumptions (Music, Movie, etc). 
  </p>
</section>

<section class="home-sections">
  <div class="home-box">
    <h2><a href="~/note">Notes</a></h2>
    <p>
      Collection of notes that I have created along my journey of learning.
      I use some of them for teaching as well.
    </p>
  </div>

  <div class="home-box">
    <h2><a href="/blog">Blogs</a></h2>
    <p>
      My mind is a mess and full of distraction. Writing blogs is my attempt to
      make my life intentional and structured. 
    </p>
  </div>

  <div class="home-box">
    <h2><a href="/essay">Essays</a></h2>
    <p>
    These essays are more of a serious attempt to put my thought to a subject with the goal of understanding a problem or knowledge. 
    </p>
  </div>
</section>
{{ end }}

