{{ define "main" }}
<section class="home-description">
  <img class="home-image" src="/picture/self.jpeg">
  <p>
    The purpose to create this site is both to scream at the void as well as
    excuse myself to write more. I'm interested in lot of things, but mainly it's either Science or
    Philosophy. Some of my serious writings thus will revolve around those topics,
    though in unseriousness i do take interest in perhaps too many things: open source tech,
    chess, football, and other unproductive-yet-fun things.  
  </p>
</section>
<section class="home-posts">
  <h1>
    Recent posts
  </h1>
  {{ $posts := where .Site.RegularPages "Section" "blog" }}
  {{ range first 3 ($posts.ByDate.Reverse) }}
  <article>
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <time>{{ .Date.Format "2 January 2006" }}</time>
    {{ with .Summary }}
      <p>{{ . }}</p>
    {{ end }}
  </article>
  {{ end }}
 
</section>
{{ end }}

