{{ define "main" }}
<section class="home-description">
  <figure class="home-figure">
    <img class="home-image" src="/picture/self.jpeg">
  </figure>
  <p>
    This site is a personal place containing writings from insignificant someone who tries to
    navigate and understand the world around him, with all of its complexities as
    well as its beauties.
  </p>
</section>

<section class="home-sections">
  <div class="home-box">
    <h2><a href="/notes/">Notes</a></h2>
    <p>
      Collection of notes that I have created along my journey of learning.
      I use some of them for teaching as well.
    </p>
  </div>

  <div class="home-box">
    <h2><a href="/blogs/">Blogs</a></h2>
    <p>
      My mind is a mess and full of distraction. Blogging is my attempt
      to systematize my mind through self-expression. 
    </p>
  </div>

  <div class="home-box">
    <h2><a href="/essays/">Essays</a></h2>
    <p>
      These essays are my attempt to crystallize understanding of knowledge
      through much more deliberate and careful writing.
    </p>
  </div>
</section>
{{ end }}

